.wrapper {
  width: "100vw";
  min-height: "100vh";
  overflow: "hidden";
}

.background {
  z-index: -1;
  position: "absolute";
  background-image: "url(https://res.cloudinary.com/dynonary/image/upload/v1628497463/dynonary/games/fast-game-bg_huk7ii.jpg)";
  background-size: "cover";
  background-position: "center center";
  background-repeat: "no-repeat";
  opacity: 0.8;
}
